<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
* Created by kk on 2019-12-10.
-->
<mapper namespace="com.kk.dao.RoleDao">

    <sql id="tableName"> role a </sql>
    <sql id="tableNameUpdate"> role </sql>

    <sql id="columns">
        a.id as "id",
        a.name as "name",
        a.description as "description",
        a.pattern as "pattern",
        a.del_flag as "delFlag",
        a.sortnum as "sortnum",
        a.create_time as "createTime"
    </sql>

    <resultMap id="beanMap" type="com.kk.po.RolePo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="pattern" column="pattern"/>
        <result property="delFlag" column="del_flag"/>
        <result property="sortnum" column="sortnum"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="condition_sql">
        <if test="id != null and id != ''"> and a.id = #{id}</if>
        <if test="name != null and name != ''"> and a.name = #{name}</if>
        <if test="description != null and description != ''"> and a.description = #{description}</if>
        <if test="pattern != null and pattern != ''"> and a.pattern = #{pattern}</if>
        <if test="delFlag != null and delFlag != ''"> and a.del_flag = #{delFlag}</if>
        <if test="sortnum != null and sortnum != ''"> and a.sortnum = #{sortnum}</if>
        <if test="createTime != null and createTime != ''"> and a.create_time = #{createTime}</if>
    </sql>

    <select id="selectById" resultMap="beanMap">
        select <include refid="columns"/>
        from <include refid="tableName"/>
        WHERE a.id = #{id}
    </select>

    <select id="select" resultMap="beanMap">
        select <include refid="columns"/>
        from <include refid="tableName"/>
        <where>
            <include refid="condition_sql" />
        </where>
        ORDER BY a.id DESC
    </select>

    <select id="selectPage" parameterType="java.util.Map"  resultMap="beanMap">
        select <include refid="columns"/>
        from <include refid="tableName"/>
        <where>
            <include refid="condition_sql" />
        </where>
        LIMIT #{pageFirst} , #{pageSize}
    </select>

    <select id="selectPageCount" parameterType="java.util.Map" resultType="long">
        select COUNT(1)
        from <include refid="tableName"/>
        <where>
            <include refid="condition_sql" />
        </where>
    </select>

    <insert id="insert">
        insert into <include refid="tableNameUpdate"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> id, </if>
            <if test="name != null"> name, </if>
            <if test="description != null"> description, </if>
            <if test="pattern != null"> pattern, </if>
            <if test="delFlag != null"> del_flag, </if>
            <if test="sortnum != null"> sortnum, </if>
            <if test="createTime != null"> create_time, </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id} , </if>
            <if test="name != null"> #{name} , </if>
            <if test="description != null"> #{description} , </if>
            <if test="pattern != null"> #{pattern} , </if>
            <if test="delFlag != null"> #{delFlag} , </if>
            <if test="sortnum != null"> #{sortnum} , </if>
            <if test="createTime != null"> #{createTime} , </if>
        </trim>
    </insert>

    <update id="update">
        update <include refid="tableNameUpdate"/>
        <set>
            <if test="name != null"> name = #{name},</if>
            <if test="description != null"> description = #{description},</if>
            <if test="pattern != null"> pattern = #{pattern},</if>
            <if test="delFlag != null"> del_flag = #{delFlag},</if>
            <if test="sortnum != null"> sortnum = #{sortnum},</if>
            <if test="createTime != null"> create_time = #{createTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from <include refid="tableNameUpdate"/>
        WHERE id = #{id}
    </delete>

    <delete id="deletes">
        delete from <include refid="tableNameUpdate"/>
        where id in
        <foreach collection="ids" open="(" item="id" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>